<div class="dark">
<app-text-field [fieldName]="'Text-Field'">
</app-text-field>
<br>
<app-select [optionvalue]="'option1'"></app-select>
<br>
<app-radio-group [RadioOption]="'Display1'" [RadioName]="'Radio Group'" [RadioValue]="'Display1'"></app-radio-group>
<br>
<app-checkbox [CheckBoxOption]="'Display1'" [CheckBoxName]="'Check Box'" [CheckBoxValue]="'Display1'"></app-checkbox>
<br>
<app-datepicker [DateName]="'Date Picker'" [DateValue]="'Date'" ></app-datepicker>
<br>
<app-number-field [NumberFieldName]="'Number Field'"></app-number-field>
<br>
<app-text-area [TextareaName]="'Text Area'"></app-text-area>
<br>
<app-switch [switchOption1]="'YES'" [switchOption2]="'NO'"></app-switch>
<br>
<app-display-only [DisplayText]="'DisplayOnly Text'" [DisplayName]="'Display Only'"></app-display-only>
</div>


<br><br>


<div class="light">
  <app-text-field [fieldName]="'Text-Field'">
  </app-text-field>
  <br>
  <app-select [options]="'Display1'" [optionvalue]="'option1'"></app-select>
  <br>
  <app-radio-group [RadioOption]="'Display1'" [RadioName]="'Radio Group'" [RadioValue]="'Display1'"></app-radio-group>
  <br>
  <app-checkbox [CheckBoxOption]="'Display1'" [CheckBoxName]="'Check Box'" [CheckBoxValue]="'Display1'"></app-checkbox>
  <br>
  <app-datepicker [DateName]="'Date Picker'" [DateValue]="'Date'" ></app-datepicker>
  <br>
  <app-number-field [NumberFieldName]="'Number Field'"></app-number-field>
  <br>
  <app-text-area [TextareaName]="'Text Area'"></app-text-area>
  <br>
  <app-switch [switchOption1]="'YES'" [switchOption2]="'NO'"></app-switch>
  <br>
  <app-display-only [DisplayText]="'DisplayOnly Text'" [DisplayName]="'Display Only'"></app-display-only>

  </div>
